/*  Fonts
-----
font-family: 'Lora', serif;
font-family: 'Ubuntu', sans-serif;
*/

body {
  margin: 0;
  font-family: 'Ubuntu', sans-serif;
  font-weight: 300;
  font-size: 1.125rem;
}

img {
  max-width: 100%;
  /* display: block to solve issue with the little spacing when they are inline */
  display: block;
}

/* =================
Typography
================= */

h1,
h2,
h3 {
  font-family: 'Lora', serif;
  font-weight: 400;
  color: #143774;
  margin-top: 0; /*prevents the margins to add up with the artcile-info*/
}

h1 {
  font-size: 2rem;
  margin: 0;
}

a {
  color: #1792D2;
}

a:hover,
a:focus {
  color: #143774;
}

strong {
  font-weight: 700;
}

/* logo subtitle */
.subtitle {
  font-weight: 700;
  color: #1792d2;    
  font-size: .75rem;
  margin: 0;
}

/* post title */
.article-title {
  font-size: 1.5rem;
}

.article-body 
.article-info{
  color: #707070;
}

.article-read-more,
.article-info {
  font-size: 0.875rem;
}

.article-read-more {
  font-weight: 700;
  color: #1792D2;
  text-decoration: none;
}

/* on mouse hover change of color and adding underline back */
.article-read-more:hover,
.article-read-more:focus {
  color: #143774;
  text-decoration: underline;
}

.article-info {
  margin: 2em 0;
}

.widget-title, .widget-recent-post-title {
  font-size: 1rem;
}

.widget-title {
  font-family: 'Ubuntu', sans-serif;
  font-weight: 700;
}

/* =================
Layout
================= */

.container {
    width: 90%;
    max-width: 900px;
    margin: 0 auto;
}


/* to go with a mobile first design we put the flex direction colum as a default
and we will use the mediaquery with min-width to change to a two column layout when
min-width: 675px; */
.container-flex {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

header {
    background: #f8f8f8;
    padding: 2em 0;
    text-align: center;
    margin-bottom: 3em;
}

footer {
  background:#143774;
  color: white;
  text-align: center;
  margin: 0;
  padding: 1em;
}

/* when 675px or more change the layout to two column */
@media (min-width: 675px) {
  .container-flex {
      flex-direction: row;
  }
  
  main {
    max-width: 70%;
  }

  aside {
    max-width: 25%;
    /*prevents main and aside from touching each other when the screen is small but not enough to go mobile layout. And to not become too small before switching to mobile layout*/
    margin-left: 1em; 
    min-width: 200px;
  }
}

/* navigation */

nav ul {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: center;
}

nav li {
  margin-left: 2em;
}

nav a {
  text-decoration: none;
  color: #707070;
  font-weight: 700;
  padding: .25em 0;
}

nav a:hover,
nav a:focus {
  color: #1792d2;
}

.current-page {
  border-bottom: 1px solid #707070;
}

.current-page:hover {
  color: #707070;
}

@media (max-width: 675px) {
  nav ul {
      flex-direction: column;
  }
  
  nav li {
      margin: .5em 0;
  }
}

/* articles */

.article-featured {
  border-bottom: solid #707070 1px;
  padding-bottom: 1em;
  margin-bottom: 2em;
}

.article-recent {
  display: flex; /*creates a row with article-main and article-secondary*/
  flex-direction: column; /*puts back the row into column, 
  but now we can rearrenge the elements inside*/
  margin-bottom: 2em;
}

/* this block will show second */
.article-recent-main {
  order: 2;
}
/* this block will show first */
.article-recent-secondary {
  order: 1;
}

/* allows to rearrenge elements on the featured article */
.article-featured {
  display: flex;
  flex-direction: column;
}

/* when more than 675px recent article goes to two column style */
@media (min-width: 675px) {
  .article-recent {
    flex-direction: row;
    justify-content: space-between;
  }

  .article-recent-main{
    width: 68%;

  }

  .article-recent-secondary {
    width: 30%;
  }

  /* Mantain the same width of the img but making it taller without squishing it. */
  .article-info {
    order: -1;
  }

  .article-img {
    order: -2;
    min-height: 250px;
    object-fit: cover;

  } 
}

/* widgets */

.sidebar-widget {
  border: #efefef solid 20px;
  padding: 1em;
  margin-bottom: 2em;
}

.widget-recent-post {
  display: flex;
  flex-direction: column;
  border-bottom: solid #707070 1px;
  margin-bottom: 1em;
}


/*to remove the bottom border only on the last child */
.widget-recent-post:last-child {
  border: 0;
  margin: 0;

}
/*don't need to put order in the title, with -1 img will show first and then follow the html side*/
.widget-img {
  order: -1;
}

